<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Packt_Productslider>
            <version>0.0.1</version>
        </Packt_Productslider>
    </modules>
    <global>
        <blocks>
           <productslider>
               <class>Packt_Productslider_Block</class>
           </productslider>
        </blocks>
        <helpers>
           <productslider>
               <class>Packt_Productslider_Helper</class>
           </productslider>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <productslider before="Mage_Adminhtml">Packt_Productslider_Adminhtml</productslider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
