<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <packt>
            <label>Packt</label>
            <sort_order>400</sort_order>
        </packt>
    </tabs>
    <sections>
        <helloworld translate="label" module="helloworld">
            <label>Helloworld</label>
            <tab>packt</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <hellopage translate="label">
                    <label>Hello page settings</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <header_title translate="label">
                            <label>Header title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </header_title>
                        <is_enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>helloworld/source_config_relation</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_enabled>
                    </fields>
                </hellopage>
            </groups>
        </helloworld>
    </sections>
</config>