<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Packt_Helloworld>
            <version>0.0.3</version>
        </Packt_Helloworld>
    </modules>
    <global>
        <blocks>
           <helloworld>
               <class>Packt_Helloworld_Block</class>
           </helloworld>
        </blocks>
        <helpers>
           <helloworld>
               <class>Packt_Helloworld_Helper</class>
           </helloworld>
        </helpers>
        <models>
           <helloworld>
               <class>Packt_Helloworld_Model</class>
               <resourceModel>helloworld_resource</resourceModel>
           </helloworld>
           <helloworld_resource>
                <class>Packt_Helloworld_Model_Resource</class>
                <entities>
                    <subscription>
                        <table>helloworld_subscription</table>
                    </subscription>
                </entities>
           </helloworld_resource>
           <catalog>
               <rewrite>
                   <product>Packt_Helloworld_Model_Catalog_Product</product>
               </rewrite>
           </catalog>
        </models>
        <resources>
            <helloworld_setup>
                <setup>
                    <module>Packt_Helloworld</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </helloworld_setup>
            <helloworld_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </helloworld_write>
            <helloworld_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </helloworld_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <helloworld before="Mage_Adminhtml">Packt_Helloworld_Adminhtml</helloworld>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Packt_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
        <layout>
            <updates>
                <helloworld>
                    <file>helloworld.xml</file>
                </helloworld>
            </updates>
        </layout>
        <translate>
            <modules>
                <Packt_Helloworld>
                    <files>
                        <default>Packt_Helloworld.csv</default>
                    </files>
                </Packt_Helloworld>
            </modules>
        </translate>
    </frontend>
</config>